@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Openslava 2017<br />
   Bratislava<br />
    <abbr title="Phone">P:</abbr>
</address>

<address>
    <strong>DevOps Azure</strong> <a href="mailto:viliam.batka@accenture.com">viliam.batka@accenture.com</a><br />
    <strong>DevOpa AWS</strong> <a href="mailto:vladimir.hlavacek@accenture.com">vladimir.hlavacek@accenture.com</a>
</address>
